.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  padding: 1.3rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary-variant);
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 0 auto;
}

.portfolio__item h3 {
  margin: 1.2rem 0 1.2rem;
}

/* ---------------------- MEDIA QUERIES (MEDIUM) --------------------- */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ---------------------- MEDIA QUERIES (SMALL) --------------------- */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
